body {
  margin: 0 auto;
}

header {
  text-align: center;
}

#featured-property figure {
  text-align: center;
}

nav a {
  padding: 10px;
  background-color: green;
}
 
#featured-property figcaption {
  font-size: 14px;
  text-align: center;
}

#featured-property p {
  width: 800px;
  margin: 0 auto;
  margin-bottom: 15px;
}

#details div {
  float: left;
  width: 25%;
}

#details div {
  background-color: green;
  text-align: center;
  width: 25%;
  margin: 10px;
}

